<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label class="form-label" for="roomType">Room Type:</label>
        <select class="form-control form-input" id="roomType" [(ngModel)]="fliterRoomType">
          <option value="">-- Select Room Type --</option>
          <option value="Conference Room">Conference Room</option>
          <option value="Meeting Room">Meeting Room</option>
          <option value="Training Room">Training Room</option>
          <option value="Breakout Room">Breakout Room</option>
          <option value="Board Room">Board Room</option>
          <option value="Interview Room">Interview Room</option>
          <option value="Presentation Room">Presentation Room</option>
          <option value="Video Conference Room">Video Conference Room</option>
          <option value="Focus Room">Focus Room</option>
          <option value="Collaboration Room">Collaboration Room</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4 mb-3">
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
    <div class="col" *ngFor="let ele of getFilteredRooms(); let i = index">
      <div class="card h-100">
        <img src="{{ ele.image }}" class="card-img-top" alt="Hollywood Sign on The Hill" height="250px" />
        <div class="card-body">
          <h5 class="card-title">{{ ele.roomName }}</h5>
          <p class="card-text">
            {{ ele.roomType }}
          </p>
          <h6><b>Access</b></h6>
          <span class="badge badge-secondary mx-2" *ngFor="let access of ele.access">{{ access }}</span>
          <br />
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6 text-start">
              <button type="button" class="btn btn-success btn-rounded my-2 text-start" (click)="getData(i)"
            data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            <i class="fa-solid fa-pen-to-square"></i>Edit
          </button>
            </div>
            <div class="col-6 text-end">
              <button type="button" class="btn btn-success btn-rounded my-2 text-end" routerLink="../room-events/{{ele.roomName}}"><i class="fa-md fa-solid fa-calendar-days"></i>View Events</button>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center display-5 text-danger d-flex  justify-content-center" *ngIf="getFilteredRooms().length==0;">No Rooms Avaliable under this category</div>
   
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Room Details</h5>
        <button type="button" class="btn-close btn-danger" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="roomBookingForm" (ngSubmit)="onSubmit()" class="needs-validation mx-auto">
          <div class="form-group">
            <label class="form-label text-white" for="name">Room Name:</label>
            <input type="text" class="form-control form-input" id="name" formControlName="roomName" />
            <div class="text-danger" *ngIf="
                roomName?.invalid && (roomName?.dirty || roomName?.touched)
              ">
              <p *ngIf="roomName?.errors?.['required']">
                * room name is required.
              </p>
              <p *ngIf="roomName?.errors?.['minlength']">
                *room name must be at least 6 characters long.
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label text-white" for="name">Room Type:</label>
            <input type="text" class="form-control form-input" id="name" formControlName="roomType" />
            <div class="text-danger" *ngIf="
                roomType?.invalid && (roomType?.dirty || roomType?.touched)
              ">
              <p *ngIf="roomType?.errors?.['required']">
                * room name is required.
              </p>
              <p *ngIf="roomType?.errors?.['minlength']">
                *room name must be at least 6 characters long.
              </p>
            </div>
          </div>
          <label for="access">Access:</label>
          <div class="form-group" id="access" formArrayName="access"
            *ngFor="let acc of access?.controls; let i = index">
            <div class="row mt-1">
              <div class="col-9">
                <select class="form-control select" [formControlName]="i" required>
                  <option value="">Access</option>
                  <option value="HOD" #op1 [disabled]="access.value.indexOf(op1.value)!=-1">HOD</option>
                  <option value="Team Lead" #op2 [disabled]="access.value.indexOf(op2.value)!=-1">Team Lead</option>
                  <option value="Intern" #op3 [disabled]="access.value.indexOf(op3.value)!=-1">Intern</option>
                  <option value="Product Lead" #op4 [disabled]="access.value.indexOf(op4.value)!=-1">Product Lead
                  </option>
                  <option value="Project Manager" #op5 [disabled]="access.value.indexOf(op5.value)!=-1">Project Manager
                  </option>
                  <option value="Engineer Manager" #op6 [disabled]="access.value.indexOf(op6.value)!=-1">Engineer
                    Manager</option>
                </select>
              </div>
              <div class="col-3">
                <button class="btn btn-danger"(click)="deleteAccess(i)">
                  <i class="fa-sharp fa-solid fa-trash text-white"></i>
                </button>
              </div>
            </div>
            <div class="text-danger" *ngIf="
                access.controls[i]?.invalid &&
                (access.controls[i]?.dirty || access.controls[i]?.touched)
              ">
              * Access is required.
            </div>
          </div>
          <div class="text-center">
            <button class="mt-2 btn btn-primary text-end" type="button" (click)="addAccess()" [disabled]="access.invalid">
              Add
            </button>
          </div>
          <div class="form-group">
            <label for="capacity">Capacity:</label>
            <input type="number" class="form-control" id="capacity" formControlName="capacity" required />
            <div class="text-danger" *ngIf="
                capacity?.invalid && (capacity?.dirty || capacity?.touched)
              ">
              <div *ngIf="capacity?.errors?.['required']">
                Capacity is required.
              </div>
              <div *ngIf="capacity?.errors?.['minlength']">
                Capacity must be at least 1.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>