<div class="container">
    <h2 class="text-center">Booking Form</h2>
    <form [formGroup]="bookRoomForm" (ngSubmit)="onSubmit()" class="needs-validation w-50 mx-auto" >
        <div class="form-group p-2">
            <input type="text" class="form-control form-input" id="name" formControlName="host" placeholder="Host name" [attr.disabled] >
          </div>
          <div class="form-group p-2">
            <input type="text" class="form-control form-input" id="name" formControlName="room" placeholder="Host name">
          </div>
        <div class="form-group p-2">
        <input type="text" class="form-control form-input" id="name" formControlName="event_name" placeholder="Event Name">
       <div class="text-danger" *ngIf="event_name?.invalid && (event_name?.dirty || event_name?.touched)">
          <p *ngIf="event_name?.errors?.['required']">* Event name is required.</p>
          <p *ngIf="event_name?.errors?.['minlength']">*Event name must be at least 6 characters long.</p>
        </div>
      </div>
      <div class="form-group p-2">
        <label for="Start">Start Time</label>
        <input type="datetime-local" id="Start" class="form-control form-input" id="name" formControlName="start_time" >
        <div class="text-danger" *ngIf="start_time?.invalid && (start_time?.dirty || start_time?.touched)">
          *start time is required.
        </div>
      </div> 
      <div class="form-group p-2">
        <label for="End">End Time</label>
        <input type="datetime-local" id="End" class="form-control form-input" id="name" formControlName="end_time" >
        <div class="text-danger" *ngIf="end_time?.invalid && (end_time?.dirty || end_time?.touched)">
          *end time is required.
        </div>
      </div> 
      <label for="Invitees">Invitees:</label>
    <div class="form-group" id="Invitees" formArrayName="invitees" *ngFor="let invitee of invitees?.controls;let i=index">  
      <select class="form-control select"  [formControlName]="i" required>
         <option *ngFor="let emp of empoylee_name" [value]="emp._id">{{emp.employeeName}}</option>
      </select>
      <div class="text-danger" *ngIf="invitees.controls[i]?.invalid && (invitees.controls[i]?.dirty || invitees.controls[i]?.touched)">
        * invitees is required.
      </div>
    </div>
      <div class="text-center p-2">
        <button type="submit" class="btn btn-primary text-center px-5 mt-3" >Submit</button>
      </div>
       </form>
  </div>
  