<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">  
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
              <h5 class="text-dark text-center"><b>LOGIN FORM</b></h5>
            <form [formGroup]="LoginObj" (ngSubmit)="onSubmit()">
              <!-- Email input -->
              <div class="">
                <input type="email" id="form3Example3" class="form-control" placeholder="Email" formControlName="email"/>
              </div>
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="mx-2 text-danger">
                <p *ngIf="email?.errors?.['required']">
                    *email is required.
                </p>
                  <p *ngIf="email?.errors?.['email']">
                    *invalid email
                  </p>
              </div>

              <!-- Password input -->
              <div class="mt-4">
                <input type="password" id="form3Example4" class="form-control" placeholder="Password" formControlName="password"/>
              </div>
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="mx-2 text-danger">
                <p *ngIf="password?.errors?.['required']">
                    *password is required.
                </p>
              </div>

              <!-- Submit button -->
              <button type="submit" class="mt-4 btn btn-black btn-rounded btn-block mb-4" [disabled]="(!email?.valid)||(!password?.valid)">
                log in
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <button type="button" class="btn btn-black btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-black btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-black btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-black btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->