<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
    <div class="col" *ngFor="let ele of rooms">
      <div class="card h-100">
        <img src={{ele.image}} class="card-img-top" alt="Hollywood Sign on The Hill" height="50%" />
        <div class="card-body">
          <h5 class="card-title">{{ele.roomName}}</h5>
          <p class="card-text">
            {{ele.roomType}}
          </p>
          <h6><b>Access</b></h6>
          <span class="badge badge-primary mx-2" *ngFor="let access of ele.access">{{access}}</span>
          <br>
          <a routerLink="../book/{{ele._id}}" class="btn btn-black btn-rounded my-2"
            *ngIf="ele.access.indexOf(this.user.position)!=-1; else noaccess">Book Now</a>
          <ng-template #noaccess>
            <a class="btn btn-danger btn-rounded my-2 disabled">No Access</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>