<section class="background-radial-gradient overflow-hidden">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col">
        <div class="card card-registration my-4 bg-glass">
          <div class="row g-0 h-50">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid rounded"
                style=" width:100%;height: 79% !important;border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div class="card-body p-md-5 text-black">
                  <h5 class="mb-5 text-black mx-auto text-center"><b style="font-size: 2rem;">ADD EMPLOYEE</b></h5>
                  <div class="row ">
                    <div class="col-md-6 mb-4">
                      <div class="mx-auto">
                        <input id="file-upload" class="form-control" type="file"   (change)="selectFile($event)" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="">
                        <input type="text" id="employeename" name="employeename" class="form-control" formControlName="employeeName" placeholder="Employee Name"/>
                      </div>
                      <div *ngIf="employeeName?.invalid && (employeeName?.dirty || employeeName?.touched)" class="text-danger">
                        <p *ngIf="employeeName?.errors?.['required'] ">*name is must</p>
                        <p *ngIf="employeeName?.errors?.['minlength'] ">*must be 6 character long</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="">
                          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email"/>
                        </div>
                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                          <p *ngIf="email?.errors?.['required'] text-start">*email is must</p>
                          <p *ngIf="email?.errors?.['email']">*email is invalid.</p>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="">
                          <input type="text" id="phoneno" class="form-control" formControlName="phoneNumber" placeholder="Phone Number"/>
                        </div>
                        <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="text-danger">
                          <p *ngIf="phoneNumber?.errors?.['required']">*phoneno is must</p>
                          <p *ngIf="phoneNumber?.errors?.['pattern']">*phoneno is invalid.</p>
                        </div>
                      </div>
                    </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <label class="mb-0 me-4">Gender: </label>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                        value="female" formControlName="gender" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="maleGender"
                        value="male" formControlName="gender" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class=" form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="gender" id="otherGender"
                        value="other" formControlName="gender" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
                    <div *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)" class="text-danger">
                      <p *ngIf="gender?.errors?.['required']">*gender is must</p>
                    </div>
  
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <select class="select form-control" formControlName="department">
                        <option value="Department">Department</option>
                        <option value="Product development">Product development</option>
                        <option value="Sales marketing">Sales marketing</option>
                        <option value="Finanace management">Finanace management</option>
                      </select>
                      <div *ngIf="department?.invalid && (department?.dirty || department?.touched)" class="text-danger">
                        <p *ngIf="department?.errors?.['required']">*department is must</p>
                      </div>
  
                    </div>
                    <div class="col-md-6 mb-4">
                      <select class="select form-control" formControlName="module">
                        <option value="Module" >Module</option>
                        <option value="Core">Core</option>
                        <option value="Workflows">Workflows</option>
                        <option value="Payroll">Payroll</option>
                        <option value="Attandance">Attandance</option>
                        <option value="Recruitment">Recruitment</option>
                      </select>
                      <div *ngIf="module?.invalid && (module?.dirty || module?.touched)" class="text-danger">
                        <p *ngIf="module?.errors?.['required']">*module is must</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                      <div class="col mb-4">
    
                        <select class="select form-control" formControlName="position">
                          <option value="Position">Position</option>
                          <option value="HOD">HOD</option>
                          <option value="Team Lead">Team Lead</option>
                          <option value="Intern">Intern</option>
                          <option value="Product Lead">Product Lead</option>
                          <option value="Project Manager">Project Manager</option>
                          <option value="Engineer Manager">Engineer Manager</option>
                        </select>
                        <div *ngIf="position?.invalid && (position?.dirty || position?.touched)" class="text-danger">
                          <p *ngIf="position?.errors?.['required']">*position is must</p>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="">
                          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"/>
                        </div>
                        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                          <p *ngIf="password?.errors?.['required']">*password is must</p>
                          <p *ngIf="password?.errors?.['minlength']">*password must 8 character long</p>
                          <p *ngIf="password?.errors?.['pattern']">*password must contain special character,Uppercase</p>
                        </div>
                      </div>
  
                      <div class="col-md-6 mb-4">
                          <div class="">
                            <input type="password" id="cpassword" class="form-control" formControlName="confirmPassword" placeholder="confirm Password"/>
                          </div>
                          <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
                            <p *ngIf="confirmPassword?.errors?.['required']">*confirmPassword is must</p>
                            <p *ngIf="confirmPassword?.errors?.['mismatch']">*mismatch in confirmPassword and password</p>
                          </div>
                        </div>
                    </div>
  
                  <div class="d-flex justify-content-center pt-3">
                    <!-- <button type="button" class="btn btn-danger btn-rounded">Reset all</button> -->
                    <button type="submit" class="btn btn-black btn-rounded ms-2" [disabled]="(!employeeName?.valid) || (!email?.valid) || (!phoneNumber?.valid)|| (!password?.valid)|| (!confirmPassword?.valid) ">Submit form</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>