<section style="background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(255, 255, 255));" class="p-3">
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <i class="fas fa-calendar-check text-dark fa-3x"></i>
                                </div>
                                <div class="text-end">
                                    <h3 class="text-dark">{{events}}</h3>
                                    <p class="mb-0">All Events</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-dark">{{rooms}}</h3>
                                    <p class="mb-0">All Rooms</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-house text-dark fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-dark">{{emps}}</h3>
                                    <p class="mb-0">All Employees</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="far fa-user text-dark fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4">
        <div class="container">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>Today Events</strong>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Host Name</th>
                                    <th scope="col">Room Type</th>
                                    <th scope="col">Event Name</th>
                                    <th scope="col">Room Name</th>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ele of todayevents">
                                    <td>{{ele.host.employeeName}}</td>
                                    <td>{{ele.room.roomType}}</td>
                                    <td>{{ele.event_name}}</td>
                                    <td>{{ele.room.roomName}}</td>
                                    <td>{{ele.start_time}}</td>
                                    <td>{{ele.end_time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>